* {
  box-sizing: border-box;
}


body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
    min-height: 100vh;
   background: linear-gradient(-45deg, #012a4a, #013a63, #01497c, #014f86, #2a6f97, #2c7da0);
   color: #fff;
  
}

.body-plataforma{
 display: flex;
}



/* Cadastro e Login */


 #pag-home-container{
  position: fixed;
  margin-top: 28px;
  margin-left: 28px;
}

#pag-home{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-style: italic;
    
}

#pag-home:hover{
    text-decoration: underline;
    color: #f0f0f0;
}
.logo {
    display: flex ; 
    justify-content: center;
    align-items: center;
     

}

.logo img{
    /*altura*/
    height: 200px;
    /*largura*/
    width: auto;
    margin-top: 25px;
   

}

#titulo-bemVindo{
    font-size:x-large;
    display: flex ; 
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3); 
    
    
    

}

.container-form {
  display: flex;
  flex-direction: column; /* empilha label e input */
  align-items: center;     /* centraliza horizontalmente */
  margin-bottom: 20px;     /* espaçamento entre campos */
  padding: 0 12px;         /* espaçamento interno lateral */
  width: 100%;

}

.container-form input,
.container-form select {
  background-color: transparent;
  margin-top: 15px;
  padding: 18px;
  border-top: transparent;
  border-right: transparent;
  border-color: #fff;
  color: #f0f0f0;
  font-size: 1.2rem;
  border-radius: 4px;
  
}

@media (min-width: 720px) {
.container-form input,
.container-form select {
width: 28vw;
height: 6vh;

}
}



.container-form select{
    min-width: 45%;
    height: auto;
    font-size: 18px;
    color: #fff;
}

.container-form select option{
   background-color: rgba(255, 255, 255, 0.01); /* Azul escuro com 30% de opacidade */
    color: #000000;
    font-size: 18px;
    border-radius: 50%;
}

.container-form input::placeholder{
    color:#f0f0f0;
    font-size: 18px;
}


.tipoacesso{
     display: flex;
    justify-content:center;
    border: none;
    margin-bottom: 10px;

}
input[type="radio"] {
    appearance: none; /* Remove o estilo padrão do rádio */
    width: 16px;
    height: 16px;
    border: 2px solid white;
    border-radius: 50%;
     margin: 0 10px;
    /* transform: scale(1.2); */
    cursor: pointer; 
    background-color: transparent;
    position: relative;
    
}

input[type="checkbox"] {
    appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid white;
  border-radius: 6px; /* Borda arredondada sutil */
  margin: 0 10px;
  cursor: pointer;
  background-color: transparent;
  position: relative;
    
}


input[type="radio"]:checked::before{
  content:"";
  position: absolute;
  inset:25%;
  width: 50%;
  height: 50%;
  background-color:#002366 ;
  border-radius: 50%;
}


input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  inset: 25%;
  width: 50%;
  height: 50%;
  background-color: #002366;
  border-radius: 2px;
  display: block;
}

legend{
    display: flex;
    justify-content:center;
    text-align: center;
    font-size:16px;
    font-weight: bold;;
}

.container-form-termo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.container-form-termo a {
  color: #fff;
  text-decoration: underline;
}


#bt-cadastrar{
    background: linear-gradient(135deg, #023e8a, #0077b6);
    height: 45px;
    width: 150px;
    display: flex;
    justify-content:center;
    margin: 0 auto; 
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
     color: #fffefe;
    font-size: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;  
    
}

#bt-cadastrar:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.bt-google-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/*Opção de cadastro utilizando o google*/
/* #btn-google {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  background: #ffffff;
  color: #000;
  font-size: 12px;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

#btn-google:hover {
  background: #f1f1f1;
  transform: translateY(-2px);
}

#btn-google img {
  width: 20px;
  height: 20px;
} */
.login{
    display: flex;
    justify-content:center;
     margin-top: 10px; 
     a {
      color: rgb(253, 253, 253);
    }
}

/* Barra lateral */

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(10px);
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 58px;
    height: 58px;
    object-fit: cover;
    border-radius: 20px;
}

#user_avatar:hover{
  transform: scale(1.15);
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
 background: linear-gradient(-45deg, #ffea00, #f48c06,#ffaa00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
    color: #fff;
}

.side-item.active {
    background-color: #10559e;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #89a7ee;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: #fff;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #10559e;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
    color: #fff;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}


/* Status Avaliações */

.titulo-avaliacoes{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    border: 2px solid #fff;
    border-top:transparent ;
    border-radius: 20px;
    max-width: 720px;
    

}

.container-avaliacoes{
    border: 2px solid #fff;
    padding: 12px;
    border-radius: 16px;
   max-width: 720px;
   background: rgba(85, 85, 85, 0.295);  
    backdrop-filter: blur(10px);   
}

.status-tracker{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.status-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    text-align: center;

}

.status-item:hover{
  transform: scale(1.05);

}
.linha{
    flex-grow: 1;
    height: 4px;
    background-color: #ccc;
    margin: 0 8px;
}

.data-inicio,.data-fim{
    margin: 12px;
    text-align: center;
}

.status-verde{
    color:#39FF14 ;
}

.status-laranja{
   color:#FF9800;
}

.status-vermelho{
    color:#FF073A ;
}



body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
    min-height: 100vh;
   background: linear-gradient(-45deg, #012a4a, #013a63, #01497c, #014f86, #2a6f97, #2c7da0);
   color: #fff;
  
}

.body-plataforma{
 display: flex;
}


/* Barra lateral */

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(10px);
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 58px;
    height: 58px;
    object-fit: cover;
    border-radius: 20px;
}

#user_avatar:hover{
  transform: scale(1.15);
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
 background: linear-gradient(-45deg, #ffea00, #f48c06,#ffaa00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
    color: #fff;
}

.side-item.active {
    background-color: #10559e;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #89a7ee;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: #fff;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #10559e;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
    color: #fff;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}


/* Status Avaliações */

.titulo-avaliacoes{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    border: 2px solid #fff;
    border-top:transparent ;
    border-radius: 20px;
    max-width: 720px;
    

}



.status-tracker{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.status-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    text-align: center;

}

.status-item:hover{
  transform: scale(1.05);

}
.linha{
    flex-grow: 1;
    height: 4px;
    background-color: #ccc;
    margin: 0 8px;
}

.data-inicio,.data-fim{
    margin: 12px;
    text-align: center;
}

.status-verde{
    color:#39FF14 ;
}

.status-laranja{
   color:#FF9800;
}

.status-vermelho{
    color:#FF073A ;
}

.quant-avaliacoes{
    display: flex;
    justify-content: center;
    margin-top: 45px;
    font-size: 20px;
}

hr{
    margin-top: 50px;
}
.container-status{
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    width: 50VW;
    height: auto;
    margin-top: 90px;
    color: #fff;
    margin: 82px auto;

    
}
.usar-chatbot{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.gerar-qr{
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 30px;
    
}
.gerar-qr button{
    background-color: darkolivegreen;
    color: #fff;
    height: 50px;
    width: 200px;
    border-radius: 30px;

    
}
nav{
    margin:0%;
}

